.wFormContainer {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

.wFormContainer .wFormHeader {
    height: 1px;
}

.wFormContainer .supportInfo {
    display: none;
}

.wFormWebPage {
    background-color: #ffffff;
    background: #ffffff;
}